@media screen and (max-width:576px) {
  .nav-container,
  .nav-items-container
  {
    flex-direction: column;
    
  }
  .nav-items-container{
    width: 100%;
    gap: 40px;
    margin-right: 20px;
  }
  /* banner section */
.banner-img, .banner-container{
  flex-direction: column-reverse;
    width: 100%;
    margin-top: 650px;
}

  .banner-text{
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
 /* justify-content: flex-start; */
  
  }
 
  }


  
